@model Muli_Pariwar_Lagat.Models.MuliViewModel
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<section id="maininfo">
    <div class="container">

        <div class="well well-sm">
            <h3><strong>मूलिपरिवार लगत</strong></h3>



            
            <div class="row">
                <div class="form-group">


                    @Html.LabelFor(model => model.GharNum, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.GharNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GharNum, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Woda, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Woda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Woda, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sabik_G_B_S, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.sabik_G_B_S, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sabik_G_B_S, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.sabik_woda, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.sabik_woda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sabik_woda, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.tol, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.tol, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tol, "", new { @class = "text-danger" })

                </div>
                </div>
            </div>

        <div class="row">
            <div class="col-md-7">
                <iframe src="~/ViewerJS/pdfs/Riwaj-Resume.pdf" width='600' height='450' allowfullscreen webkitallowfullscreen></iframe>
 </div>
            <div class="col-md-5">
                <h4><strong>घरमुलिको विवरण</strong></h4>

                
                    <div class="form-group">
                       @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
                    
                        @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                    
                       
                       </div>
                   
                    <div class="form-group">
                        @Html.LabelFor(model => model.Sikshhya, htmlAttributes: new { @class = "control-label col-md-2" })
                        
                            @Html.EditorFor(model => model.Sikshhya, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Sikshhya, "", new { @class = "text-danger" })
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.Kaam, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Kaam, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Kaam, "", new { @class = "text-danger" })
                            </div>
                        
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.ContactNum, htmlAttributes: new { @class = "control-label col-md-2" })
                            
                                @Html.EditorFor(model => model.ContactNum, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ContactNum, "", new { @class = "text-danger" })
                          
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.JanmaMiti, htmlAttributes: new { @class = "control-label col-md-2" })
                            
                                @Html.EditorFor(model => model.JanmaMiti, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JanmaMiti, "", new { @class = "text-danger" })
                           
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.JanmaSthan, htmlAttributes: new { @class = "control-label col-md-2" })
                           
                                @Html.EditorFor(model => model.JanmaSthan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.JanmaSthan, "", new { @class = "text-danger" })
                         
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.NagarikId, htmlAttributes: new { @class = "control-label col-md-2" })
                            
                                @Html.EditorFor(model => model.NagarikId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NagarikId, "", new { @class = "text-danger" })
                            </div>
                        
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.NagarikJariDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            
                                @Html.EditorFor(model => model.NagarikJariDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NagarikJariDate, "", new { @class = "text-danger" })
                            
                        </div>
                       
                        <div class="form-group">
                            @Html.LabelFor(model => model.NagarikJariJilla, htmlAttributes: new { @class = "control-label col-md-2" })
                            
                                @Html.EditorFor(model => model.NagarikJariJilla, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NagarikJariJilla, "", new { @class = "text-danger" })
                            </div>
                        
                       
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    


               
            </div>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

   
</section>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}























@*
    <h2>Create</h2>
    <br/>
    <iframe src="~/ViewerJS/pdfs/Riwaj-Resume.pdf" width='600' height='450' allowfullscreen webkitallowfullscreen></iframe>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

    <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">


                @Html.LabelFor(model => model.GharNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.GharNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GharNum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Woda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Woda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Woda, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sabik_G_B_S, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.sabik_G_B_S, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sabik_G_B_S, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sabik_woda, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.sabik_woda, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.sabik_woda, "", new { @class = "text-danger" })
                </div>
            </div>
              <div class="form-group">
                @Html.LabelFor(model => model.tol, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.tol, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tol, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Sikshhya, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Sikshhya, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Sikshhya, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Kaam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.Kaam, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Kaam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactNum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.ContactNum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ContactNum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.JanmaMiti, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.JanmaMiti, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JanmaMiti, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.JanmaSthan, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.JanmaSthan, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JanmaSthan, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NagarikId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.NagarikId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NagarikId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NagarikJariDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.NagarikJariDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NagarikJariDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NagarikJariJilla, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-5">
                    @Html.EditorFor(model => model.NagarikJariJilla, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NagarikJariJilla, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
*@